@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

body {
  background-color: rgb(0, 0, 0);
  font-family: "Courier New", monospace;
  color: white;
}
.calculadora {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  gap: 8px;
  width: max-content;
  margin: 0 auto;
  margin-top: 80px;
  border: 4px solid rgb(255, 198, 43);
  padding: 16px;
  border-radius: 30px;
  background: linear-gradient(180deg, rgb(60, 60, 60), rgb(30, 30, 30));
}
#pantalla {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 70px;
  border-radius: 8px;
  border: 4px solid rgb(44, 44, 44);
  text-align: right;
  font-size: 24px;
  font-family: "Digital-7", "Orbitron", monospace;
  padding-right: 10px;
  letter-spacing: 2px;
}
.igual {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: orange;
}
button {
  height: 50px;
  font-size: 20px;

  border-radius: 50px;
  background-color: rgb(130, 130, 130);
  border: 1.5px solid rgb(42, 42, 42);
  transition: transform 0.1s, background-color 0.1s;
  box-shadow: 0px 2px 2px 2px rgba(44, 44, 44, 0.812);
  color: white;
}
button:hover {
  transform: scale(1.1);
}
button.number:hover {
  background-color: rgb(255, 138, 138);
  transform: scale(1.1);
}
.operador {
  background-color: orange;
}
